@charset "utf-8";

/* ページ全体の枠組み
---------------------------------------------------- */
body{
	margin: 0;
	padding: 0;
	border-top: 5px solid #b0e0e6;
	font-size: 13px;
	color: #b0e0e6;
     background: #b0e0e6;
}

/* リンクと画像
---------------------------------------------------- */
 a {
	 text-decoration: none;
	 color: #b0e0e6;
 }
 a:hover{
	 text-decoration: underline;
 }

/* ヘッダ
---------------------------------------------------- */
#header{
	height: 423px;
	background: url(images/headbg.png) repeat-x;
}

#header .inner {
	  margin: 0 auto;
	  width: 1000px;
}

#header .inner {
	position: relative;
	padding-right: 0px;
	height: 423px;
}

#header ul {
    margin: 0;
	padding: 0;
	}

#logo {
	position: absolute;
	top: 13;
	left: 0;
}

ul#headnav {
    position: absolute;
	top: 40px;
	right: 0;
	line-height: 1.0;
	margin-top: -0.5em;
	}
	
ul#headnav {
  position: absolute;
  top: 40px;
  right: 0;
  line-height: 1.0;
  margin-top: -0.5em;
}

ul#headnav li {
  list-style: none;
}
ul#headnav li a {
  padding-left: 9px;
  background: url(./images/bulletgreen.png) no-repeat left center;
}

ul#headnav > li:first-child {
    padding-left: 0;
	border-left: none;
	}

.facebook {
  position: absolute;
  padding-top: 10px 0 0 0;
  right: -120px;
  line-height: 1.0;
  margin-top: -1.5em;
}

ul#globalnav li {
  position: absolute;
  top: 80px;
  display: block;
}
ul#globalnav li a {
  display: block;
}
ul#globalnav li { left: 0; }



 
#mainvisual {
	  position: absolute;
	  top: 123px;
	  left: 220px;	  
}


/* トピックパス（パンくずリスト）
---------------------------------------------------- */
#topicpath {
	  font-size: 93%;
}

/* メインコンテンツ
---------------------------------------------------- */
#content {
	background: #ffffff url(images/contentbg.png) no-repeat top center;
}

#content .inner {
	  margin: 0 auto;
	  padding: 15px 35px 50px;
	  width: 1000px;
	  min-height: 80px;
	  background: #69960;
}

#main {
	float: right;
	padding-left: 0px;
	width: 670px;
}

#sub h2 {
    margin: 15px 0;
	line-height: 1.0;
	font-size: 131%;
	color: #b0e0e6;
  }
#sub {
	padding-left: 40px;
}
ul#localnav {
  margin: 0;
  padding: 0;
  }
  
ul#localnav li {
   display: block;
   }
 
 ul#localnav li a {
    display: block;
	padding: 0.9em 0  0.9em 20px;
	width: 230px;
	line-height: 1.0;
	color: #b0e0e6;
    background: url(images/lnavbg.png) no-repeat;
	}
	
ul#localnav li a:hover {
  background: url(images/lnavbghover.png) no-repeat left center;
}
	
#content .inner:after {
	  content: ".";
	  display: block;
	  height: 0px;
	  clear: both;
	  visibility: hidden;
}

#main h1 {
	   margin: 0 0 25 -20;
	   padding: 20px 15px 10px 45px;
	   line-height : 1.0;
	   font-size : 190%;
	   color : #b0e0e6;
	   background: url(images/h1.png) no-repeat left;
}

#main p {
	   line-height 1.6px;
	   font-size: 116%;
	   padding-left: 20px;
}

ul#list li {
  list-style: none;
}
	
.care {
	width: 600px;
	border: dotted 5px #b0e0e6; border-collapse: collapse;
}

.advertisement {
	width: 240px;
	border: dotted 1px #b0e0e6; border-collapse: collapse;
}

.insta {
	width: 100px;
	border: dotted 1px #b0e0e6; border-collapse: collapse;
}

.pr {
	color: #b0e0e6;
	font-size: medium;
}

.work {
	padding-top: 70px;
	padding-left: 30px;
	float: left;
	width: 170px;
}	

.movie {
    padding-right: 140px;
	float: right;
	width: 370px;
}

.movie-design {
	border-color: aqua;
	border-style: 1px dotted;
}	
	
	
/* サブコンテンツ
---------------------------------------------------- */
#sub h2 {
	    margin: 25px 0 20px 10px;
		line-height: 1.0;
		font-size: 131%;
		color: #b0e0e6;
}
	 

/* フッタ
---------------------------------------------------- */
#footer {
	  min-height: 80px;
	  background: #b0e0e6;
	  padding-top: 15px;
	  line-height: 1.0;
	  font-size: 85%;
}

#footer .inner {
	margin: 0 auto;
	width: 1000px;
}

#footer a {
	  color : #ffffff; 
}

p#copyright {
	margin: 10;
	color: #ffffff;
	text-align: center;
}

ul#footnav {
   margin: 0;
   pading: 0;
   }
  
ul#footnav li {
   float: left;
   display: block;
   padding: 1px  10px;
   border-left: 0;
   border-left: 1px solid #ffffff;
} 

ul#footnav > li:first-child {
    padding-left: 0;
	border-left: none;
	}
	
		
/*先頭へ戻るボタン */

.back {
 position: fixed;
 bottom: 10px;
 right: 10px;
  
 border:1px solid #888888;
 padding:2pt;
 background-color: #ffffff;
 filter:alpha(opacity=85);
 -moz-opacity:0.85;
 -khtml-opacity: 0.85;
 opacity:0.85;
     
 text-shadow: 0 -1px 1px #FFF, -1px 0 1px #FFF, 1px 0 1px #aaa; 
 -webkit-box-shadow: 1px 1px 2px #E7E7E7;
 -moz-box-shadow: 1px 1px 2px #E7E7E7; 
 -webkit-border-radius: 3px; 
 -moz-border-radius: 3px;
}

.formTable {
	width: 400px;
	border: dotted 3px #b0e0e6; border-collapse: collapse;
}

.form {
	border: dotted 3px #b0e0e6; border-collapse: collapse;
}
/* サイトマップ
---------------------------------------------------- */
#container {
	   margin: 0 0 125 -20;
	   padding: 10px 15px 10px 15px;
	   line-height : 1.7;
	   font-size : 110%;
	   color : #b0e0e6;
}
